.home_section {
    display: flex;
    padding: 30px;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/985/136/886/building-lights-illustration-romain-trystram-wallpaper-preview.jpg);
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 200vh;
}

.link_home {
    color: rgb(75, 75, 75);
}