.home_section {
    display: flex;
    padding: 30px;
    background-image: url("https://i.pinimg.com/originals/7d/d2/75/7dd275e4b2888371a12e040b9a4d101e.jpg")  ;
    
    flex-direction: row;
    align-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.link_home {
    color: rgb(75, 75, 75);
}