.card {
    margin: 10px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
    transition: transform 120ms ease-in;
    cursor: pointer;
    width: 330px;
}

.card:hover {
    transform: scale(1.07);
}

.searchResult_infoBottom {
    display: flex;
    justify-content: space-between;
}

.searchResult_star {
    color: red;
}

.searchResult_stars {
    display: flex;
    align-items: center;
}

.card > img {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
}

.card_info {
    display: flex;
    justify-content: space-between;
    margin-top: -9px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 20px;
    border: 1;
    flex-direction: column;
    flex-wrap: wrap;
}

.card_info>h2 {
    font-size: 18px;
    font-weight: 600;
}

.card_info>h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 8px;
    margin-bottom: 8px;
}

.link {
    color: whitesmoke
}