.banner {
    background: url("https://img.buzzfeed.com/buzzfeed-static/static/2017-10/26/14/asset/buzzfeed-prod-fastlane-01/sub-buzz-15099-1509041818-1.jpg?downsize=900:*&output-format=auto&output-quality=auto") content-box center ;
    height: 60vh;
    position: relative;
}





.banner_info {
    background: linear-gradient(-45deg, #4d4c4c, #1010109e, #7f8b92, #090909b9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    
    /* backdrop-filter: blur(2px); */
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.banner_info:hover {
    background: transparent;
    border-color: var(--color-light);
    cursor: default;
}

.banner_info:hover > h1 , h5 {
    color: black;
}

.banner_search {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.banner_info button {
    background-color: transparent;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}

.banner_info > h5, h1 {
    margin-top: 10px;
    
}

.banner_searchButton {
    background-color: transparent !important;
    font-weight: 900 !important;
    text-decoration: inherit !important;
    color: #5c5b5c !important;
}